/* You can add global styles to this file, and also import other style files */

*, *::after, *::before {
  box-sizing: border-box;
}

html, body { height: 100%; }
body {
  background-color: #EEE;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}


mat-card.flex-column,
.flex-column {
  display: flex;
  flex-direction: column;
}
